<a href="https://colab.research.google.com/github/sandroormeno/TUTORIAL-TENSORFLOW-LITE-ARDUINO-DUE/blob/master/monitor_exercice_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%tensorflow_version 2.x

TensorFlow 2.x selected.

In [0]:
import pandas
import numpy as np
import tensorflow as tf
from tensorflow.keras import layers
from keras.utils import to_categorical
from sklearn.model_selection import train_test_split

Using TensorFlow backend.

In [0]:
print(tf.__version__)

In [0]:
# Los datos
url  = 'https://raw.githubusercontent.com/sandroormeno/Neural-network-con-arduino-ATmega644/master/jupyter%20notebook/datos_aceler%C3%B3metro.csv'

In [0]:
datos = pandas.read_csv(url)
# Cinco muestras de la calse 0
datos[0:5]

    x1   y1   z1   x2   y2   z2   x3  ...   x4   y4   z4   x5   y5   z5  clase
0  141  127  132  133  120  147  170  ...  132  120  129  143  123  142      0
1  159  122  132  135  120  130  146  ...  159  116  134  132  122  126      0
2  148  124  144  159  125  136  135  ...  149  125  139  155  121  137      0
3  133  124  128  149  123  144  156  ...  134  123  126  147  125  140      0
4  161  118  131  133  120  127  148  ...  162  124  131  134  125  125      0

[5 rows x 16 columns]

In [0]:
# Cinco muestras de la calse 1
datos[250:255]

      x1   y1   z1   x2   y2   z2   x3  ...   x4   y4   z4   x5   y5   z5  clase
250  133  126  122  134  124  122  141  ...  154  121  116  166  119  107      1
251  160  121  112  147  123  117  136  ...  136  123  122  139  123  122      1
252  149  121  116  161  121  111  164  ...  154  122  115  138  123  121      1
253  135  124  122  136  123  121  146  ...  157  121  112  165  119  108      1
254  157  121  113  148  123  118  136  ...  133  124  123  139  123  121      1

[5 rows x 16 columns]

In [0]:
# Cinco muestras de la calse 2
datos[550:555]

      x1   y1   z1   x2   y2   z2   x3  ...   x4   y4   z4   x5   y5   z5  clase
550  151  129  101  141  125  119  113  ...  118  126  126  121  123  124      2
551  149  126  110  160  125   93  164  ...  162  123   88  153  124   98      2
552  144  126  114  115  124  125  119  ...  120  123  125  139  127  111      2
553  158  130   91  162  130   77  158  ...  149  129   95  145  127  109      2
554  117  122  126  117  124  126  121  ...  141  128  110  154  127   89      2

[5 rows x 16 columns]

In [0]:
# Las 15 primeras columnas son los características
caracteristicas= datos.values[:,:15]
# La última columna se coonvierte en los etiquetas
etiquetas= datos.values[:,15]

In [0]:
# Normalizamos las carasterísticas. Las dividimos entre 255
caracteristicas_norm= caracteristicas/255

In [0]:
# Codificación en One hot
etiquetas__hot = to_categorical(etiquetas)

In [0]:
caracteristicas.shape

(587, 15)

In [0]:
# Dividimos los datos en estrenamiento y evaluación
X_train, X_test, y_train, y_test = train_test_split(caracteristicas_norm, etiquetas__hot, test_size=0.2, random_state=21)

In [0]:
# El modelo
model= tf.keras.Sequential()

model.add(layers.Dense(16, activation='relu', input_dim=15))
model.add(layers.Dense(16, activation='relu'))
model.add(layers.Dense(3, activation='sigmoid'))

# Configulación del entrenamiento
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [0]:
model.summary()

In [0]:
# El entrenamiento
model.fit(X_train, y_train, epochs=300, batch_size=5)

In [0]:
# La evaluación
score = model.evaluate(X_test, y_test)
print("\n%s: %.2f%%" % (model.metrics_names[1], score[1]*100))

In [0]:
# aquí termina el 1er tutorial